absl-py==1.3.0
accelerate==0.19.0
aiofiles==23.1.0
aiohttp==3.8.4
aiosignal==1.3.1
alembic==1.8.1
altair==5.0.0
anyio==3.6.2
appdirs==1.4.4
appnope==0.1.3
asttokens==2.1.0
astunparse==1.6.3
async-timeout==4.0.2
attrs==23.1.0
azure-ai-formrecognizer==3.2.0
azure-common==1.1.28
azure-core==1.26.1
backcall==0.2.0
backoff==2.2.1
beautifulsoup4==4.11.1
bitsandbytes==0.39.0
blis==0.7.9
blobfile==2.0.0
cachetools==5.2.0
camelot-py==0.9.0
catalogue==2.0.8
certifi==2023.5.7
cffi==1.15.1
chardet==5.1.0
charset-normalizer==3.1.0
click==8.1.3
cloudpickle==2.2.0
cohere==4.1.3
confection==0.0.4
construct==2.5.3
contourpy==1.0.7
cryptography==40.0.2
cycler==0.11.0
cymem==2.0.7
databricks-cli==0.17.3
dataclasses-json==0.5.7
datasets==2.7.1
debugpy==1.6.3
decorator==5.1.1
dill==0.3.6
Distance==0.1.3
distlib==0.3.6
distro==1.8.0
docopt==0.6.2
elasticsearch==7.17.7
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.5.0/en_core_web_sm-3.5.0-py3-none-any.whl
entrypoints==0.4
et-xmlfile==1.1.0
executing==1.2.0
extruct==0.14.0
faiss-cpu==1.7.2
fastapi==0.95.2
fastjsonschema==2.16.2
ffmpy==0.3.0
filelock==3.12.0
Flask==2.2.2
flatbuffers==22.10.26
fonttools==4.39.4
frozenlist==1.3.3
fsspec==2023.5.0
future==0.18.2
gast==0.4.0
gitdb==4.0.9
GitPython==3.1.29
google-auth==2.14.1
google-auth-oauthlib==0.4.6
google-pasta==0.2.0
gpt-index==0.5.12
gradio==3.26.0
gradio_client==0.1.2
grobid-client-python==0.0.5
grpcio==1.50.0
gunicorn==20.1.0
h11==0.14.0
h5py==3.7.0
html-text==0.5.2
html5lib==1.1
htmlmin==0.1.12
httpcore==0.17.1
httpx==0.24.1
huggingface-hub==0.14.1
idna==3.4
ImageHash==4.3.1
importlib-metadata==5.0.0
inflect==6.0.2
iniconfig==1.1.1
ipykernel==6.17.1
ipython==8.6.0
ipywidgets==8.0.2
isodate==0.6.1
itsdangerous==2.1.2
jaconv==0.3
jamo==0.4.1
jarowinkler==1.2.3
jedi==0.18.1
Jinja2==3.1.2
joblib==1.2.0
jsonschema==4.17.3
jstyleson==0.0.2
jupyter_client==7.4.7
jupyter_core==5.0.0
jupyterlab-widgets==3.0.3
keras==2.10.0
Keras-Preprocessing==1.1.2
kiwisolver==1.4.4
langchain==0.0.173
langcodes==3.3.0
langdetect==1.0.9
libclang==14.0.6
linkify-it-py==2.0.2
llvmlite==0.39.1
loralib==0.1.1
lxml==4.9.1
Mako==1.2.4
Markdown==3.4.1
markdown-it-py==2.2.0
markdown2==2.4.6
MarkupSafe==2.1.2
marshmallow==3.19.0
marshmallow-enum==1.5.1
matplotlib==3.6.1
matplotlib-inline==0.1.6
mdit-py-plugins==0.3.3
mdurl==0.1.2
mf2py==1.1.2
mistune==2.0.4
mmh3==3.0.0
monotonic==1.6
more-itertools==9.0.0
mpmath==1.2.1
msgpack==1.0.4
msrest==0.7.1
multidict==6.0.4
multimethod==1.9
multiprocess==0.70.14
murmurhash==1.0.9
mypy-extensions==0.4.3
nest-asyncio==1.5.6
networkx==2.8.8
nltk==3.7
num2words==0.5.12
numba==0.56.4
numexpr==2.8.4
numpy==1.23.1
oauthlib==3.2.2
openai==0.27.2
openapi-schema-pydantic==1.2.4
opencv-python==4.7.0.72
openpyxl==3.0.10
opt-einsum==3.3.0
orjson==3.8.12
outcome==1.2.0
packaging==21.0
pandas==2.0.1
pandas-profiling==3.6.0
pandocfilters==1.5.0
parso==0.8.3
pathspec==0.10.2
pathy==0.10.1
patsy==0.5.3
pdf2image==1.16.0
pdfminer.six==20221105
pefile==2022.5.30
pexpect==4.8.0
phik==0.12.3
pickleshare==0.7.5
Pillow==9.5.0
platformdirs==2.5.4
pluggy==1.0.0
posthog==2.2.0
preshed==3.0.8
prompt-toolkit==3.0.32
protobuf==3.19.6
psutil==5.9.4
psycopg2-binary==2.9.5
ptyprocess==0.7.0
pure-eval==0.2.2
py==1.11.0
py-cpuinfo==9.0.0
pyarrow==10.0.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.21
pycryptodomex==3.16.0
pydantic==1.10.7
pydub==0.25.1
Pygments==2.13.0
PyJWT==2.6.0
pyparsing==3.0.9
PyPDF2==2.12.1
pyphen==0.14.0
pypinyin==0.44.0
pyRdfa3==3.5.3
pyrsistent==0.19.3
PySocks==1.7.1
pytesseract==0.3.10
python-dateutil==2.8.2
python-docx==0.8.11
python-dotenv==0.21.0
python-magic==0.4.27
python-multipart==0.0.6
python-ptrace==0.9.8
pytorch-wpe==0.0.1
pytrec-eval==0.5
pytz==2023.3
PyWavelets==1.4.1
PyYAML==6.0
pyzmq==24.0.1
quantulum3==0.7.11
querystring-parser==1.2.4
rank-bm25==0.2.2
rapidfuzz==2.7.0
rdflib==6.2.0
regex==2022.10.31
requests==2.28.0
requests-oauthlib==1.3.1
responses==0.18.0
rsa==4.9
safetensors==0.3.1
scikit-learn==1.1.3
scipdf @ git+https://github.com/titipata/scipdf_parser@501cf2547320adca78a94e2b2ba83526e46bd82e
scipy==1.9.3
seaborn==0.12.1
semantic-version==2.10.0
sentence-transformers==2.2.2
sentencepiece==0.1.97
seqeval==1.2.2
shap==0.41.0
six==1.16.0
slicer==0.0.7
smart-open==6.3.0
smmap==5.0.0
sniffio==1.3.0
sortedcontainers==2.4.0
soupsieve==2.3.2.post1
spacy==3.5.3
spacy-legacy==3.0.12
spacy-loggers==1.0.4
SQLAlchemy==1.4.44
SQLAlchemy-Utils==0.38.3
sqlparse==0.4.3
srsly==2.4.6
stack-data==0.6.1
starlette==0.27.0
statsmodels==0.13.5
sympy==1.11.1
tabula-py==2.7.0
tabulate==0.9.0
tangled-up-in-unicode==0.2.0
tenacity==8.2.2
tensorboard==2.10.1
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
termcolor==2.1.0
textstat==0.7.3
thinc==8.1.10
threadpoolctl==3.1.0
tika==1.24
tiktoken==0.4.0
tinycss2==1.2.1
tk==0.1.0
tokenize-rt==5.0.0
tokenizers==0.12.1
toml==0.10.2
tomli==2.0.1
tomli_w==1.0.0
tomlkit==0.11.6
toolz==0.12.0
torch==1.12.1
torch-complex==0.4.3
torchvision==0.14.0
tornado==6.2
tqdm==4.64.0
traitlets==5.5.0
transformers @ git+https://github.com/huggingface/transformers@main
typeguard==2.13.3
typer==0.7.0
typing-inspect==0.8.0
typing_extensions==4.5.0
tzdata==2023.3
uc-micro-py==1.0.2
ujson==5.1.0
Unidecode==1.3.6
url-normalize==1.4.3
urllib3~=1.25
uvicorn==0.22.0
validators==0.18.2
virtualenv==20.16.7
visions==0.7.5
w3lib==2.1.1
wasabi==1.1.1
watchdog==2.1.9
wcwidth==0.2.5
webencodings==0.5.1
websocket-client==1.4.2
websockets==11.0.3
Werkzeug==2.2.2
widgetsnbextension==4.0.3
wrapt==1.14.1
xlwt==1.3.0
xmltodict==0.13.0
xxhash==3.1.0
yapf==0.32.0
yarl==1.9.2
zipp==3.10.0
